.container{
    max-width: 120rem;
    margin: 8rem auto;
    background-color: $color-grey-light-2;
    box-shadow: $shadow-dark;
    min-height: 50rem;
    position: relative;

    @media only screen and (max-width:$bp-largest){
        margin: 0;
        max-width: 100%;
        width: 100%;
    }
}

.header{
    height: 7rem;
    background-color: white;
    border-bottom: $border-bottom;

    display: flex;
    justify-content: space-between;
    align-items: center;

    font-size: 1.4rem;

    @media only screen and (max-width:$bp-small){
        flex-wrap: wrap;
        height: 12rem;
        align-content: space-around;
    }
    
}

.content{
    display: flex;

    @media only screen and (max-width:$bp-medium){
        flex-direction: column;
    }
}

.sidebar{
    background-color: $color-grey-dark-1;
    flex: 0 0 18%; 

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.hotel-view{
    background-color: white;
    flex: 1;
    position: relative;
}

.details{
    display: flex;
    padding: 4.5rem;
    background-color: $color-grey-light-1;
    border-bottom: $border-bottom;
    font-size: 1.4rem;

    @media only screen and (max-width:$bp-medium){
        padding: 3rem;
    }

    @media only screen and (max-width:$bp-phone){
        flex-direction: column;
    }
}

.description{
    background-color: white;
    flex: 0 0 60%;
    padding: 3rem;
    margin-right: 4.5rem;
    box-shadow: $shadow-light;

    @media only screen and (max-width:$bp-medium){
        padding: 2rem;
        margin-right: 3rem;
    }

    @media only screen and (max-width:$bp-phone){
        margin-right: 0;
        margin-bottom: 3rem;
    }
}

.user-reviews{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}